<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notked.com</title>
    <link rel="shortcut icon" type="image/x-icon" href="nk.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0eead3232b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1 class="display-3">notked</h1>
        <hr><br>

        <br>
        <p>dont let the title fool you, i am ked.</p>

        <br>
        <p><a href="https://github.com/notked">check out my github</a></p>

        <br>
        <p>i like to work on js projects, but recently i've been learning swift.. or atleast trying to</p>

        <br>
        <p>i either code on my macbook (2020, 13", base specs aka i5 8gb ram and 256gb ssd) or my pc which is prebuilt cause i'm not that good.... (acer nitro n50)</p>

        <br>
        <p>in js i either use a lib like <a href="discord.js.org">discord.js</a> or if im tryna do web i use <a href="https://expressjs.com">express</a></p>

        <br>
        <p>i dont do much open source things, most my repos are private because i dont like my ugly code</p>

        <br>
        <p>theres not many ways to contact me. but my discord, which is what i mainly use.. is ked#0001</p>

        <br>
        <p>my next purchase is a <a href="https://www.raspberrypi.org/">raspberry pi</a></p>
    </div>
</body>
</html>